.btn-area button {
    color: white;
    background-color: #7289da;
    cursor: pointer;
    margin-bottom: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: 32px;
    min-width: 60px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    -o-transition: background-color .17s ease,color .17s ease;
    -moz-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.btn-area button:hover {
    background-color: #677bc4;
}

.btn-area button:active {
    background-color: #5b6eae;
}
